.event-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.event-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 960px;
}

.location-container {
    display: flex;
    width: 960px;
    margin: 40px 0 32px 0;
}

.date-container {
    display: flex;
    width: 960px;
    margin: 40px 0 32px 0;
}

.event-form-title {
    color: #D1410C;
    margin: 20px 0 0 0;
}

.sub-title {
    font-size: 14px;
    color: rgb(100, 100, 100);
    margin: 0 0 20px 0;
}

.basic-info-container {
 width: 960px;
 display: flex;
 margin-bottom: 32px;
}

.basic-icon {
    margin: 0 0 0 79px;
    /* padding-right: 20px; */
    height: fit-content;
    width: 79px;
    color: rgba(235, 235, 235);
}

.basic-info {
    width: 720px;
}

.basic-title {
    margin: 0;
}

.location {
    width: 720px;
}

.date {
    width: 720px;
}

.hr-tag {
    border: 1px solid rgba(220, 220, 220);
    width: 960px;
}

.event-btn-container {
    display: flex;
    justify-content: flex-end;
    width: 960px;
    margin-top: 40px;
    gap: 10px;
}

.event-btn {
    color: white;
    background: #D1410C;
    width: 100px;
    height: 40px;
    border: none;
}

.event-btn-discard {
    background-color: white;
}

.event-btn:hover {
    background-color: rgba(209, 65, 12, 0.8);
    cursor: pointer;
}

.event-btn-discard:hover {
    background-color: rgba(240, 240, 240);
    cursor: pointer;
}

.price-container {
    display: flex;
    align-items: center;
}

.event-input {
    width: 716px;
    margin: 20px 0 20px 0;
}

.event-input-date {
    width: 350px;
    display: flex;
    flex-direction: row-reverse;
    font-size: 18px;
}

.manage-evts-pg {
    display: flex;
    justify-content: flex-start;
    width: 960px;
}

.title-link {
    color: blue;
    width: fit-content;
    height: 30px;
    font-size: 14px;
    display: flex;
    align-items: center;
    font-weight: 100;
}

.title-link:hover{
    text-decoration: underline;
}

.left-arrow {
    color: blue;
    margin: 0;
    width: 24px;
    /* padding: 0px 1px 1px 1px; */
    display: flex;
    justify-content: center;
    font-size: 20px;
}
