.profile-dropdown {
  position: absolute;
  /* display: none; */
  background-color: #f9f9f9;
  /* background-color: aqua; */
  min-width: 241px;
  margin-top: 72px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
  top: 0;
}

.profile-dropdown a {
  font-size: 14px;
  padding-top: 5px;
  padding-right: 26px;
}

.profile-dropdown a:hover {
  background-color: #F5F5F5;
}

.menu {
  font-size: 14px;
  /* margin: 0 auto; */
  cursor: pointer;
  height: 53px;
  padding: 16px 20px;
}

.menu:hover {
  background-color: #F5F5F5;
}

.profile-email {
  padding-left: 5px;
}

.splash-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* width: 100vh; */
	margin: 0 auto;
	/* max-width: 1425px; */
	/* padding: 20px; */
}

.home-link {
  font-weight: 900;
  color: rgb(255, 128, 0);
  font-size: 24px;
  padding-left: 20px;
}

.splash-links {
  display: flex;
  gap: 15px;
  word-spacing: 0;
}

.splash-create-link {
  color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 132px;
  height: 72px;
}

.splash-ticket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 72px;
 }

 .splash-create-link:hover {
    background-color: #F5F5F5;
 }

 .splash-ticket:hover {
   background-color: #F5F5F5;
 }

.login-signup {
  padding: 23px 0 23px 0;
}

.splash-link {
  height: 72px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  padding: 0 10px 0 5px;
}

/* .splash-link:hover {
  background-color: #F5F5F5;
} */

.splash-link-profile {
  height: 72px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px 0 20px;
  position: relative;
  width: 250px;
}

/* .splash-link-profile:hover .profile-dropdown{ */
  /* justify-content: center; */
  /* display: block; */
/* } */

.splash-link-profile:hover{
  background-color: #F5F5F5;
}
